################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/backend
/backend/bin
/backend/build
/backend/node_modules
/backend/obj/Debug
/frontend/.vs
