################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/backend
/backend/bin
/backend/build
/backend/node_modules
/backend/obj/Debug
/frontend/.vs
/frontend/.angular/cache/17.2.0
/frontend/node_modules
/backend2/node_modules
/backend2/.vs/backend2/FileContentIndex
/backend2/.vs/backend2/v17
/backend2/bin
/backend2/build
/frontend/package-lock.json
