<div>
  <h1>Home</h1>
    <h2>TO-DO:</h2>
    <div>
        <div>
            <h3>Prevodi<i class="fa-solid fa-check"></i></h3>
            <ul>
                <li>
                    Potrebno je narediti datoteko s prevodi.
                </li>
            </ul>
        </div>
        <div>
            <h3>Knjižnica Material in fontAwesome<i class="fa-solid fa-check"></i></h3>
            <ul>
                <li>
                    dodaj importe
                    <i class="fa-solid fa-user"></i>
                    {{'test' | translate}}
                </li>
            </ul>
        </div>
        <div>
            <h3>Komponenta <b>Opravila</b></h3>
            <ul>
                <li>
                    Potrebno je narediti novo tabelo Board, ki boslužila za tablo, na kateri bodo opravila.<i class="fa-solid fa-check"></i>
                </li>
                <li>
                    Potrebno je narediti novo tabelo BoardColumn, ki boslužila za stolpce na tabli.<i class="fa-solid fa-check"></i>
                </li>
                <li>
                    Potrebno je narediti novo tabelo BoardItem, ki boslužila za opravila na tabli.<i class="fa-solid fa-check"></i>
                </li>
                <li>
                    Ustvari novo komponento na frontendu, ki bo prikazala tablo, z stolpci in opravili v stolpcih.
                </li>
            </ul>
        </div>
        <div>
            <h3><b>Meni</b></h3>
            <ul>
                <li>
                    Popravi meni, da bo lepo izgledal.
                </li>
                <li>
                    Prikaži ga na levi strani.
                </li>
                <li>
                    Dodaj možnost parent - child relacij. Osnovno/uporabniki npr.
                </li>
            </ul>
        </div>
        <div>
            <h3><b>Header</b></h3>
            <ul>
                <li>
                    Dodal zgornjo vrstico aplikacije (Header).
                </li>
                <li>
                    Dodaj prikaz uporabnikovega imena.
                </li>
                <li>
                    Dodaj možnost odjave.
                </li>
                <li>
                    Dodaj neki logo.
                </li>
            </ul>
        </div>
        <div>
            <h3>Komponenta <b>Users</b></h3>
            <ul>
                <li>
                    Potrebno je dodati več polj na tabeli user.
                </li>
                <li>
                    Ustvari novo komponento za urejanje in ustvarjanje uporabnika.
                </li>
            </ul>
        </div>
        <div>
            <h3><b>Token</b></h3>
            <ul>
                <li>
                    Potrebno je dodati polje token, v katero se ob prijavi shrani token, ki ima neko veljavnost.
                </li>
                <li>
                    Na backendu v vse klice dodat preverjanje tokena razen v login oz v public routes.
                </li>
            </ul>
        </div>
        <div>
            <h3>Meni pravice</h3>
            <ul>
                <li>
                    V tabelo meni dodaj pravico.
                </li>
                <li>
                    Dodaj preverjanje, da prikažeš samo tiste stvari v meniju do katerih imaš pravico.
                </li>
                <li>
                    Najprej se gleda na Uporabnika, če nima potem na vlogo.
                </li>
            </ul>
        </div>
        <div>
            <h3>Komponenta <b>Vloge uporabnika</b></h3>
            <ul>
                <li>
                    Potrebno je narediti novo tabelo Right.
                </li>
                <li>
                    Potrebno je narediti novo tabelo Roles.
                </li>
                <li>
                    Ustvari novo komponento v kateri boš lahko ustvarjal Pravice (Rights).
                </li>
                <li>
                    Ustvari novo komponento v kateri boš lahko dodeljeval pravice na profil uporabnika (role) in samo na uporabnika.
                </li>
                <li>
                    Dodal izbiro Rola na userju.
                </li>
            </ul>
        </div>
    </div>
</div>
